doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Doc&apos;s Conference
  link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
  link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-colors-metro.css')
  link(rel='stylesheet' href='https://www.w3schools.com/lib/w3-theme-green.css')
  link(rel='stylesheet' href='meetingDetails.css')
  link(rel='icon' href='DocConference64.png' type='image/x-icon')
  link(rel='icon' href='DocConference.svg' type='image/svg+xml')
  script(src='meetingDetails.js' charset='utf-8')
.title.w3-padding-16.w3-green.w3-display-container(style='z-index:1;')
  .logo.w3-container.w3-display-left
    a(href='homeScreen.html')
      img#logo(src='DocConference.svg' alt='WebApp Logo')
  .title-options.w3-container.w3-display-right
    .center
      a(href='files.html' target='_blank')
        button.w3-btn.w3-metro-green Files
      .w3-dropdown-hover
        span#userEmail.w3-btn.w3-metro-green .
        .w3-dropdown-content.w3-bar-block.w3-border.w3-border-black(style='right:0;width:100%;')
          a.w3-bar-item.w3-button(href='#') Account
          a.w3-bar-item.w3-button(href='#' onclick='logOut()') Log Out
.content.w3-pale-green(style='z-index:0;')
  div(style='height:100%;')
    #meetingDetails.w3-padding.w3-theme-l3
    .meetingFiles.w3-left(style='width:75%;')
      h4.header.w3-padding Files:
      #reports
    .meetingParticipants.w3-right.w3-padding(style='width:25%;')
      h4.header Participants:
      #participants
